# Variables para docker-compose
SECRET_KEY=django-insecure-reemplaza-esto
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos dentro de la red Docker
DB_NAME=inventario_reposteria
DB_USER=inventario
DB_PASSWORD=InventarioPass123!
DB_HOST=db
DB_PORT=3306

# Cargar fixtures iniciales (seed.json)
LOAD_FIXTURES=true

# Opcional: número de workers Gunicorn
GUNICORN_WORKERS=3
